@media screen and (max-height: 330px) {
    .text {
        padding: 15px;
    }
    .social {
        padding: 0 0 5px 0;
    }
}

@media screen and (max-width: 1100px) {
    .text {
        padding: 25px;
    }
    .social {
        padding: 10px 0 25px 0;
    }
}
